In [2]:
'''Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
Q1. Write a code to print the data present in the second row of the dataframe, df.'''

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
'''Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
loc is a label-based selector, which means it selects data based on the labels (i.e., the index labels and column names) of the rows and columns.

iloc, on the other hand, is an integer-based selector, which means it selects data based on the integer indices of the rows and columns.'''

In [12]:
'''Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].'''
import pandas as pd
import numpy as np
reindex=[3,0,1,2]
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.172568  0.625890  0.663418  0.345630  0.832482  0.531260
2  0.737745  0.759699  0.044594  0.613326  0.379149  0.996473
3  0.767908  0.265226  0.848274  0.198953  0.434383  0.181635
4  0.740046  0.200600  0.940059  0.331251  0.839728  0.832481
5  0.840155  0.446338  0.170428  0.254886  0.070878  0.774098
6  0.711983  0.178890  0.922810  0.651898  0.245425  0.692549

In [14]:
new_df = df1.reindex(index=reindex)

In [15]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.767908  0.265226  0.848274  0.198953  0.434383  0.181635
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.172568  0.625890  0.663418  0.345630  0.832482  0.531260
2  0.737745  0.759699  0.044594  0.613326  0.379149  0.996473

In [16]:
new_df.loc[2]

column_1    0.737745
column_2    0.759699
column_3    0.044594
column_4    0.613326
column_5    0.379149
column_6    0.996473
Name: 2, dtype: float64

In [17]:
new_df.iloc[2]

column_1    0.172568
column_2    0.625890
column_3    0.663418
column_4    0.345630
column_5    0.832482
column_6    0.531260
Name: 1, dtype: float64

In [18]:
'''Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’'''
df1.mean()

column_1    0.661734
column_2    0.412774
column_3    0.598264
column_4    0.399324
column_5    0.467007
column_6    0.668083
dtype: float64

In [19]:
df1['column_2'].std()

0.24016320435531524

In [20]:
'''Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]'''

df1.loc[2, 'column_2'] = 'string data'

In [21]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
'''you get an error while executing this code, it could be due to several reasons such as:

The second row of 'column_2' already contains a string value, and you cannot calculate the mean of a column with mixed data types.
The 'column_2' column contains missing values, and you need to handle them before calculating the mean. You can use the .fillna() method of pandas to replace the missing values with a default value or the mean of the column before calculating the mean.'''

In [ ]:
'''Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
In pandas, the term "window function" refers to a class of functions that operate on a set of rows (a window) of a DataFrame and return a new DataFrame with the same number of rows but with the values aggregated or transformed according to some specified rule.
Some common use cases for window functions include:

Moving averages and moving sums

Rolling statistics: These window functions calculate statistical measures such as mean, standard deviation, variance, or correlation for a fixed-size window of rows.

Expanding windows: These window functions calculate cumulative statistics such as the cumulative sum or mean up to a given row.

Shifts: These window functions shift the values of a column forward or backward by a certain number of rows.

Some of the commonly used window functions in pandas include:

rolling(): This function creates a rolling window of a fixed size and applies a function to each window. The window can be centered or left-aligned or right-aligned, and it can slide by a fixed or variable number of rows.

expanding(): This function creates an expanding window that starts from the first row and includes all previous rows up to the current row. It applies a function to each window.

ewm(): This function creates an exponentially weighted moving window of a fixed size and applies a function to each window.

shift(): This function shifts the values of a column forward or backward by a certain number of rows.

rank(): This function assigns ranks to each row in a window based on a specified criteria.

cumsum(), cumprod(), cummin(), cummax(): These functions calculate cumulative sums, products, minimums, or maximums over a window.

diff(): This function calculates the difference between the values of a column in consecutive rows.

pct_change(): This function calculates the percentage change between the values of a column in consecutive rows.'''

In [22]:
'''Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]'''

current_date = pd.datetime.now()
current_date.month

/tmp/ipykernel_77/1882969453.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

4

In [23]:
current_date.year

2023

In [24]:
'''Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.'''

import pandas as pd

# Prompt the user to enter the first date in string
date1_str = input("Enter the first date (YYYY-MM-DD): ") # converting string to date_time
date1 = pd.to_datetime(date1_str)

# Prompt the user to enter the second date in string
date2_str = input("Enter the second date (YYYY-MM-DD): ")
date2 = pd.to_datetime(date2_str)

# Calculate the time delta between the two dates
delta = date2 - date1

# Calculate the number of days, hours, and minutes in the time delta
days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60

# Display the result
print("The difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours, and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2023-12-03
Enter the second date (YYYY-MM-DD):  2022-1-1

The difference between 2023-12-03 and 2022-01-01 is:
-701 days, 0 hours, and 0 minutes.

In [25]:
'''Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.'''
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the path to the CSV file: ")

# Prompt the user to enter the column name
column_name = input("Enter the name of the column to convert: ")

# Prompt the user to enter the category order
category_order_str = input("Enter the category order (comma-separated): ")
category_order = [cat.strip() for cat in category_order_str.split(",")]

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(column_name)

# Display the sorted data
print(df_sorted)

Enter the path to the CSV file:  services.csv
Enter the name of the column to convert:  status
Enter the category order (comma-separated):  inactive,defunct,active

    id  location_id  program_id         accepted_payments  \
20  21           21         NaN                       NaN
19  20           20         NaN                       NaN
0    1            1         NaN                       NaN
18  19           19         NaN                       NaN
17  18           18         NaN                       NaN
16  17           17         NaN                       NaN
15  16           16         NaN                       NaN
14  15           15         NaN                       NaN
13  14           14         NaN                       NaN
12  13           13         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
11  12           12         NaN                       NaN
9   10           10         NaN                       NaN
8    9            9         NaN                       NaN
7    8            8         NaN                       NaN
6    7            7         NaN                       NaN
5    6            6         NaN                       NaN
4    5            5         NaN                       NaN
3    4            4         NaN                       NaN
2    3            3         NaN                       NaN
1    2            2         NaN                       NaN
10  11           11         NaN                       NaN
22  23           22         NaN                       NaN

           alternate_name                                application_process  \
20                    NaN                    By phone during business hours.
19                    NaN                                           Walk in.
0                     NaN                         Walk in or apply by phone.
18                    NaN     Call for screening appointment (650-347-3648).
17                    NaN  Call for screening appointment. Medical visits...
16                    NaN                              Call for information.
15                    NaN  Walk in. Written application, identification r...
14                    NaN          Walk in or through other agency referral.
13                    NaN  Call for appointment. Referral from human serv...
12                    NaN  Walk in. Proof of California residency require...
21  Fotos para pasaportes                  Walk in or apply by phone or mail
11                    NaN  Walk in or apply by phone, email or webpage re...
9                     NaN  Walk in. Proof of California residency to rece...
8                     NaN  Walk in. Proof of residency in California requ...
7                     NaN                                    Apply by phone.
6                     NaN  Apply by phone or be referred by a doctor, soc...
5                     NaN  Walk in or apply by phone for membership appli...
4                     NaN                             Phone for information.
3                     NaN                                    Apply by phone.
2                     NaN        Phone for information (403-4300 Ext. 4322).
1                     NaN                 Apply by phone for an appointment.
10                    NaN  Walk in. Proof of California residency require...
22                    NaN                  Walk in or apply by phone or mail

                                             audience  \
20                                                NaN
19                                                NaN
0   Older adults age 55 or over, ethnic minorities...
18                                                NaN
17                                                NaN
16                                                NaN
15                                                NaN
14  Adult alcoholic/drug addictive men and women w...
13  Individuals or families with low or no income ...
12                                                NaN
21  Profit and nonprofit businesses, the public, m...
11  Adults, parents, children in 1st-12th grades i...
9                                                 NaN
8      Ethnic minorities, especially Spanish speaking
7   Senior citizens age 60 or over, disabled indiv...
6   Older adults who have memory or sensory loss, ...
5                                             Any age
4   Low-income working families with children tran...
3   Parents, children, families with problems of c...
2   Older adults age 55 or over who can benefit fr...
1        Residents of San Mateo County age 55 or over
10                                                NaN
22  Second service and nonprofit businesses, the p...

                                          description  \
20                                just a test service
19              no unrequired fields for this service
0   A walk-in center for older adults that provide...
18  Provides free medical and dental care to those...
17  By appointment only, Project Smile provides a ...
16  Provides emergency food, clothing and furnitur...
15  Provides emergency assistance including food a...
14  Provides a long-term (6-12 month) residential ...
13  Provides food, clothing, bus tokens and shelte...
12  Provides general reading materials, including ...
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
11  Offers an intergenerational literacy program f...
9   Provides general reading and media materials, ...
8   Provides general reading material, including b...
7   Delivers a hot meal to the home of persons age...
6   Rosener House is a day center for older adults...
5   A multipurpose center offering a wide variety ...
4   Provides fixed 8% short term loans to eligible...
3   Provides supervised visitation services and a ...
2   Offers supportive counseling services to San M...
1   Provides training and job placement to eligibl...
10  Provides general reading materials, including ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

                                          eligibility                  email  \
20                                                NaN                    NaN
19                                                NaN                    NaN
0   Age 55 or over for most programs, age 60 or ov...                    NaN
18    Low-income person without access to health care                    NaN
17    Low-income person without access to health care                    NaN
16                                Low-income families                    NaN
15                      None for emergency assistance                    NaN
14  Age 21-60, detoxed, physically able and willin...                    NaN
13  None for most services. For emergency assistan...                    NaN
12    Resident of California to obtain a library card                    NaN
21                                               None  passports@example.org
11  English-speaking adult reading at or below 7th...                    NaN
9             Resident of California to obtain a card                    NaN
8     Resident of California to obtain a library card                    NaN
7             Homebound person unable to cook or shop                    NaN
6                                      Age 18 or over                    NaN
5                                                None                    NaN
4   Eligibility: Low-income family with legal cust...                    NaN
3                                                None                    NaN
2         Resident of San Mateo County age 55 or over                    NaN
1   Age 55 or over, county resident and willing an...                    NaN
10  Resident of California to obtain a library car...                    NaN
22                                               None                    NaN

    ...                            interpretation_services  \
20  ...                                                NaN
19  ...                                                NaN
0   ...                                                NaN
18  ...                                                NaN
17  ...                                                NaN
16  ...                                                NaN
15  ...                                                NaN
14  ...                                                NaN
13  ...                                                NaN
12  ...                                                NaN
21  ...  We offer 3-way interpretation services over th...
11  ...                                                NaN
9   ...                                                NaN
8   ...                                                NaN
7   ...                                                NaN
6   ...                                                NaN
5   ...                                                NaN
4   ...                                                NaN
3   ...                                                NaN
2   ...                                                NaN
1   ...                                                NaN
10  ...                                                NaN
22  ...                                                NaN

                                             keywords languages  \
20                                                NaN       NaN
19                                                NaN       NaN
0   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
18  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
17  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
16  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
15  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
14  ALCOHOLISM SERVICES, Residential Care, DRUG AB...       NaN
13  COMMUNITY SERVICES, Interpretation/Translation...       NaN
12  EDUCATION SERVICES, Library, Libraries, Public...       NaN
21                                    Salud, Medicina   Spanish
11  EDUCATION SERVICES, Adult, Alternative, Litera...       NaN
9   EDUCATION SERVICES, Library, Libraries, Public...       NaN
8   EDUCATION SERVICES, Library, Libraries, Public...       NaN
7   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
6   ADULT PROTECTION AND CARE SERVICES, Adult Day ...       NaN
5   ADULT PROTECTION AND CARE SERVICES, In-Home Su...       NaN
4      COMMUNITY SERVICES, Speakers, Automobile Loans       NaN
3   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...       NaN
2   Geriatric Counseling, Older Adults, Gay, Lesbi...       NaN
1   EMPLOYMENT/TRAINING SERVICES, Job Development,...       NaN
10  EDUCATION SERVICES, Library, Libraries, Public...       NaN
22         Ruby on Rails/Postgres/Redis, testing, wic       NaN

                                    name  \
20       Service for Admin Test Location
19             Service with blank fields
0        Fair Oaks Adult Activity Center
18         San Mateo Free Medical Clinic
17                         Project Smile
16     South San Francisco Citadel Corps
15                       Sunnyvale Corps
14           Adult Rehabilitation Center
13                    Redwood City Corps
12                 Redwood Shores Branch
21                       Passport Photos
11                          Project Read
9                           Main Library
8                       Fair Oaks Branch
7         Meals on Wheels - South County
6       Rosener House Adult Day Services
5   Little House Recreational Activities
4      Economic Self-Sufficiency Program
3               Family Visitation Center
2                 Senior Peer Counseling
1       Second Career Employment Program
10                       Schaberg Branch
22                  Example Service Name

                          required_documents  \
20                                       NaN
19                                       NaN
0                                        NaN
18                                       NaN
17                                       NaN
16                                       NaN
15                                       NaN
14                                       NaN
13                                       NaN
12                                       NaN
21  Government-issued picture identification
11                                       NaN
9                                        NaN
8                                        NaN
7                                        NaN
6                                        NaN
5                                        NaN
4                                        NaN
3                                        NaN
2                                        NaN
1                                        NaN
10                                       NaN
22                                       NaN

                            service_areas    status  \
20                       San Mateo County  inactive
19                                    NaN   defunct
0                                   Colma    active
18                    Belmont, Burlingame    active
17                         East Palo Alto    active
16  Colma, Daly City, South San Francisco    active
15                                    NaN    active
14       Alameda County, San Mateo County    active
13    Belmont, Burlingame, East Palo Alto    active
12                       San Mateo County    active
21       Alameda County, San Mateo County    active
11                              Daly City    active
9                        San Mateo County    active
8                        San Mateo County    active
7                 Belmont, East Palo Alto    active
6     Belmont, Burlingame, East Palo Alto    active
5                        San Mateo County    active
4                        San Mateo County    active
3                        San Mateo County    active
2                        San Mateo County    active
1                        San Mateo County    active
10                       San Mateo County    active
22       San Mateo County, Alameda County    active

                                            wait_time                 website  \
20                                                NaN                     NaN
19                                                NaN                     NaN
0                                            No wait.                     NaN
18                                            Varies.                     NaN
17                                            Varies.                     NaN
16                                                NaN                     NaN
15                                           No wait.                     NaN
14  Varies according to available beds for men and...                     NaN
13                                  Up to 20 minutes.                     NaN
12                                           No wait.                     NaN
21                                No wait to 2 weeks.  http://www.example.com
11  Depends on availability of tutors for small gr...                     NaN
9                                            No wait.                     NaN
8                                            No wait.                     NaN
7                                            No wait.                     NaN
6                                            No wait.                     NaN
5                                            No wait.                     NaN
4                                                 NaN                     NaN
3                                            No wait.                     NaN
2                                             Varies.                     NaN
1                                             Varies.                     NaN
10                                           No wait.                     NaN
22                                 No wait to 2 weeks  http://www.example.com

                                taxonomy_ids
20                                       NaN
19                                       NaN
0                                        NaN
18                                       NaN
17                                       NaN
16                                       NaN
15                                       NaN
14                                       NaN
13                                       NaN
12                                       NaN
21  105, 108, 108-05, 108-05-01, 111, 111-05
11                                       NaN
9                                        NaN
8                                        NaN
7                                        NaN
6                                        NaN
5                                        NaN
4                                        NaN
3                                        NaN
2                                        NaN
1                                        NaN
10                                       NaN
22                                       NaN

[23 rows x 22 columns]

In [ ]:
'''Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.'''


import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the path to the CSV file: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Set the date column as the index and convert it to a datetime object
df = df.set_index('date')
df.index = pd.to_datetime(df.index)

# Group the DataFrame by product category and resample it by month, summing the sales data
df_monthly = df.groupby('product_category').resample('M').sum()

# Create a stacked bar chart showing the sales of each product category over time
ax = df_monthly.unstack('product_category').plot(kind='bar', stacked=True, figsize=(10, 6))

# Set the chart title and axes labels
ax.set_title('Monthly Sales by Product Category')
ax.set_xlabel('Month')
ax.set_ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
'''Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85'''# Prompt user to enter file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read CSV file into Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of test scores
mean_score = df["Test Score"].mean()
median_score = df["Test Score"].median()
mode_score = df["Test Score"].mode()

# Display results in a table
result_table = pd.DataFrame({
    "Statistic": ["Mean", "Median", "Mode"],
    "Value": [mean_score, median_score, mode_score]
})
print(result_table)